<section class="hero-section">
  <div class="hero-content">
    <div class="hero-text">
      <h1>Auténtica gastronomía, donde la tradición se encuentra con el arte</h1>
      <button class="cta-button" routerLink="/menu">EXPLORAR MENÚ</button>
    </div>
  </div>
</section>

<section class="features">
  <div class="feature">
    <h2>Ingredientes Frescos</h2>
    <p>Seleccionamos cuidadosamente los ingredientes más frescos y de temporada para garantizar el máximo sabor en cada
      uno de nuestros platos.</p>
  </div>
  <div class="feature">
    <h2>Ambiente Exclusivo</h2>
    <p>Disfruta de una experiencia gastronómica única en un ambiente elegante y acogedor diseñado para estimular todos
      tus sentidos.</p>
  </div>
  <div class="feature">
    <h2>Chef Premiado</h2>
    <p>Nuestro chef ejecutivo ha sido reconocido internacionalmente por su creatividad culinaria y su dominio de las
      técnicas tradicionales.</p>
  </div>
</section>